body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background-color: #F2EFE7;
}

header {
    background-color: #006A71;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

a:link, a:visited {
    text-decoration: none;
    color: #F2EFE7;;
}

a:link:hover {
    color: #cdcbc5;
}

img{
    max-width: 125px;
    max-height: fit-content;
}
