body {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #F2EFE7;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #006A71;
    padding: 0 1rem;
}

  nav a {
    text-decoration: none;
    color: #f2efe7;
  }

  nav .active {
    font-weight: bold;
  }

  
  .primary-navigation {
      display: flex;
      justify-content: center;
      padding: 10px;
      list-style: none;
      margin: 0;
    }

  .primary-navigation li {
    margin: 0 15px;
  }
    
    img {
        max-width: 125px;
        max-height: fit-content;
    }

    main {
        padding: 20px;
    }

a {
    color: #333;
    text-decoration: none;
}

.profile-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#weightUnitSelection {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.unit-button {
    padding: 10px 20px;
    border: 2px solid #006A71;
    background-color: white;
    color: #006A71;
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.unit-button.active {
    background-color: #006A71;
    color: white;
}

.unit-button:hover {
    background-color: #004f53;
    color: white;
}

.logout-button {
    background-color: rgba(255, 0, 0, 0.669);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.logout-button:hover {
    background-color: darkred;
}
